@import url('https://googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

header {
    padding: 1px 200px ;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    font-size: 12px;
    color: #F9FAF8;

    list-style-type: none;
    display: flex;
    gap: 20px;
}

section.darkBackground {
    padding: 100px 200px ;
    margin: 0;
    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

section.darkBackground > div{
    flex: 1;
    width: 50%;
}

.heroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
}

.heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

button.first {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 900;
    border: none;
    padding: 8px 24px;
    border-radius: 5px;

}

.placeholder {
    color: #E5E7EB;
    background-color: #6B7280;
    padding: 100px 20px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

section.lightBackground {
    padding: 100px 200px ;
    margin: 0;
    background-color: #F9FAF8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

section.lightBackground > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.informationHeading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.subtextBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtextBoxes figure {
    margin: 0;
    text-align: center;
}

.subtextBoxes span {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    background-color: #F9FAF8;
    display: inline-block;
}

section.greyBackground {
    padding: 100px 200px ;
    margin: 0;
    background-color: #E2E5EC;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

section.greyBackground > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

section.greyBackground > h2 {
    align-self: flex-end;
}

div.blueBackground {
    padding: 30px 100px ;
    margin: 0;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 12px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.blueBackground > h2 {
    order: 1;
    flex: 1 1 70%;
    margin: 0 0 -20px 0;
}

div.blueBackground > p {

    order: 2;
    flex: 1 1 70%;
    margin: 0;
    line-height: 1.2;
}

div.blueBackground > button {
    order: 3;
    flex: 0 0 auto;
}

h2.bold {
    font-size: 24px;
    font-weight: 900;
}

button.second {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 900;
    border: 2px solid #F9FAF8;
    padding: 8px 24px;
    border-radius: 5px;
}

footer {
    padding: 25px 100px ;
    margin: 0;
    color: #E5E7EB;
    background-color: #1F2937;

    display: flex;
    flex-direction: row;
    justify-content: center;
}